<div class="card flex-container movie">
  <div class="poster">
    <img *ngIf="summary.Poster !== 'N/A'" [hidden]="!showDefaultImg" alt="Movie Poster" [src]="summary.Poster" (load)="showDefaultImg = false">
    <img *ngIf="showDefaultImg" alt="default" src="./assets/images/n_a.jpg">
  </div>
  <div class="detail">
    <div class="top">
      <div class="title">
        <h3>{{summary.Title}}</h3>
      </div>
      <div *ngIf="movie">
        <section>
          <h5>Plot</h5>
          <p>{{movie.Plot}}</p>
        </section>
        <section>
          <h5>Actors</h5>
          <p>{{movie.Actors}}</p>
        </section>
        <section>
          <h5>Ratings</h5>
          <ul>
            <li *ngFor="let rating of movie.Ratings">
              {{rating.Source}}: {{rating.Value}}
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="footer">
      <p>{{summary.Year}}</p>
      <button *ngIf="!isDetailClicked" (click)="onDetailClick()">Details</button>
    </div>
  </div>
</div>
