@import "src/scss/variables";

:host {
  box-sizing: border-box;
  padding-bottom: 10px;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: $basic-border;
  background-color: $card-bg;
  min-height: 170px;

  &.flex-container {
    flex-wrap: unset;
  }

  .poster {
    flex: 1;
  }

  .top {
    box-sizing: border-box;
    padding: 15px;
    display: inline-block;
    width: 100%;
  }

  .detail {
    position: relative;
    flex: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

}

:host-context(.expanded) {
  .detail {
    flex: 5;
  }

  @media screen and (max-width: 700px) {
    .detail {
      flex: 2;
    }
  }
}

.footer {
  height: 60px;
  width: 100%;
  padding: 15px 15px;
  box-sizing: border-box;
  border-top: $basic-border;
  display: flex;
  justify-content: space-between;

  p {
    line-height: 30px;
  }

}

section {
  margin: 16px 0;

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding-inline-start: 5px;
  }

  li {
    list-style-type: '-';
    padding-inline-start: 1ch;
  }
}

img {
  max-width: 100%;
  display: block;
}
